<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact</h2>
      </div>
    </div>
      <div class="col-md-12 text-center">
        Marine Geology and Geophysics <br>
        Lamont-Doherty Earth Observatory <br>
        Columbia University <br>
        61 Route 9W, P.O. Box 1000 <br>
        Palisades, NY 10964 <br>
        Phone: (845) 365-8187<br>
        dporter [at] ldeo.columbia [dot] edu
        </a>
    </div>
  </div>
</section>
