<!-- Services Section -->
    <section id="cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">CV</h2><br>
                    <div class="col-lg-12 text-center">

                        <ul class="list-inline social-buttons">

                            <li><a href="mailto:dporter@ldeo.columbia.edu"><i class="fa fa-envelope"></i></a>
                            </li>

                            <li><a href="https://scholar.google.com/citations?user=oBBiBsMAAAAJ&hl=en" target='_blank'><i class="ai ai-google-scholar-square"></i></a>
                            </li>

                            <li><a href="http://www.researchgate.net/profile/David_Porter" target='_blank'><i class="ai ai-researchgate-square"></i></a>
                            </li>

                            <li><a href="http://twitter.com/gridstorm" target='_blank'><i class="fa fa-twitter"></i></a>
                            </li>

                            <li><a href="http://github.com/porterdf" target='_blank'><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                        <br><br>
                      </div>
                    <div class="section-subheading text-muted">
                        <a href="/papers/DFPorter-CV2016.pdf" target="_blank" class="btn btn-primary" title="Download CV as PDF">Download Full CV</a>
                      </div>
                  </div>
                  <br><br>
                  <h4>Present position</h4>
                  <p><strong>Associate Research Scientist</p>
                    <p><a href="http://www.ldeo.columbia.edu" target='_blank'>Lamont-Doherty Earth Observatory</a> & <a href="http://pgg.ldeo.columbia.edu/" target='_blank'>Polar Geophysics Group</a> , <a href="https://www.columbia.edu" target='_blank'>Columbia University</a></strong>
                    </p><p><em>Earth Institute Fellow; mentored by <a href="http://www.ldeo.columbia.edu/res/div/ocp/people/bell/" target='_blank'>Robin Bell</a> and <a href="http://www.ldeo.columbia.edu" target='_blank'>James R. Cochran</a></em></p><br>
                    <h4>Education</h4>
                    <p><strong><abbr title="Doctor of Philosophy">PhD</abbr>, <a href="https://atoc.colorado.edu" target='_blank'></a>, University of Colorado, Boulder, CO, USA, 2011</strong><br>
				            <em>Atmospheric and Oceanic Sciences; advised by <a href="http://cires.colorado.edu/research/research-groups/john-cassano-group" target='_blank'>John Cassano</a></em></p> and <a href="http://cires.colorado.edu/council-fellows/mark-serreze" target='_blank'>Mark Serreze</a>
                    <p><strong><abbr title="Bachelor of Science">B.Sc.</abbr>, <a href="http://www.rutgers.edu" target='_blank'>Rutgers University</a>, New Brunswick, NJ, USA, 2006</strong><br>
                    <em>Meteorology</em></p>
            </div>
        </div>
    </section>
