<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">
                    Broadly, my research involves climate processes at high-latitudes. I'm interested in the interactions between Earth system components in BOTH polar regions. My current research is focused on ice-ocean interaction in Greenland and Antarctica. Are warming ocean waters responsible for the increase in mass loss of marine-terminating glaciers worldwide?  How stable are the Ice Shelves, especially the Ross Ice Shelve, which holds back multiple meters of sea level rise locked up in West Antarctic ice?  What drives the newly-observed surface melt in the frigid Southern Continent? 
                  </h3>
                </div>
            </div>

            {% for topic in site.data.research %}
            <div class="row">
            </div>
            <div class="container">
              	<div class="row research-topic">
              		<div class="col-md-5">
                  		<img class="img-responsive alt="" src={{ topic.imgSrc }}>
                	</div>
                	<div class="col-lg-7 .col-md-offset-1">
                  		<h4>{{ topic.name }}</h4>
                  		<p class="text-muted">{{ topic.description }}</p>
                  		<p class="text-muted"><i>see</i> &rarr; <a class="page-scroll" href="#papers">papers</a></p>
                  	</div>
             	 </div>
            </div>
            <br><br><br><br>
            {% endfor %}
        </div>
    </section>
