<!-- Services Section -->
    <section id="teaching">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teaching</h2>
                <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>
            <div class="row">
              <h3 class="section-heading">Current Courses</h3>
              <br>
                <div class="row research-topic">
                  <div class="col-lg-12">
                      <b>Secondary School Field Research Program (SSFRP)</b>
                      <br>
                      I teach the Data Analysis section for Lamont's SSFRP in the Fall semester. Students have spent months collecting data in the march.  It is my job to teach them how to place their group's newly collected data in context with those from other groups, as well as to look at changes from year-to-year. In this way, students take ownership of their data, understand how it is unique and may be valuable to scientists in the future, and learn the importance of thoughtful sampling techniques and data stewardship.
                      <br>
                      "The Lamont-Doherty Secondary School Field Research Program brings High School teachers and their students together with scientists from the Lamont-Doherty Earth Observatory to work on scientific research projects. The program was founded in 2005, and works with teachers and students from several New York City public high schools. The goal is to give teachers and students a hands-on understanding of the scientific process at the same time that they engage with the content of a particular area of Earth Science. Participating in field work and seeing their students work alongside professional scientists changes teachers’ sense of what is possible for the students. For teachers and students alike, the Program validates science as a career choice and helps bridge students into science majors in college."
                  </div>
                </div>
            <div class="row">
              <h3 class="section-heading">Past Courses</h3>
              <br>
    				<div class="row research-topic">
                      <div class="col-lg-12">
                      <b>Recent Education and Outreach</b>
                      <br>
Games For Change: Arctic Game Jam – Organized and developed several education games about ice shelf, caribou migration, and climate adaptation, April 2017

Women in STEM – Intrepid Museum, March 2017

SUBMERGE - NYC Marine Science Festival, September 2016

Presenter at Columbia University Data Science Institute Symposia: “Sea Level Rise and the Cryosphere, April 2016

Judge at the annual 2016 Long Valley Junior Women's Club Science Fair, March 2016.

Host of multiple Saturday Earth2Class workshops for educators about Sea Level Rise and the Cryosphere, utilizing the recently released interactive companion iPad and iPhone App, February and April 2016.	

Panelist for screening of Luc Hardy’s film “On the Shoulder of Shackleton”; 71st UN Congress Program – Aug 2105, and French Embassy Feb 2016.

                      <br>
                      <b>Weather and Climate Lab (ATOC 1070)</b>
                      <br>
                      At the University of Colorado - Boulder, I was instructor of record for concurrent sections of the Weather and Climate Lab in the Atmospheric and Oceanographic Science department. Through the course of an 16 week schedule, concepts such as Rayleigh Scattering, the Greenhouse Effect, Chinook windtorms, the weight of air,  I taught a total of 6 sections over the course of three semesters. Lab enrollment was at the maximum of 18 students. 
                      </div>
            		</div>
        </div>
    </section>
